<header class="header">
  <div class="header__container container">
    <nav class="header__menu menu">
      <ul class="menu__list">
        <li class="menu__item">
          {{> "./menuLink.hbs" text="Главная" href="./"}}
        </li>
        <li class="menu__item">
          {{> "./menuLink.hbs" text="Билеты" href="./tickets.html"}}
        </li>
        <li class="menu__item">
          {{> "./menuLink.hbs" text="Маршрут" href="./route.html"}}
        </li>
        <li class="menu__item">
          {{> "./menuLink.hbs" text="Блок" href="./block.html"}}
        </li>
        <li class="menu__item">
          {{> "./menuLink.hbs" text="Таблица" href="./table.html"}}
        </li>
      </ul>
    </nav>
  </div>
</header>