.features {
  display: flex;
  flex-direction: column;

  &__feature {
    margin-bottom: 8px;
    color: #4b4b4b;
    position: relative;
    padding-left: 38px;

    &::before {
      content: '';
      position: absolute;
      top: 4px;
      left: 0;
      display: block;
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      background: url('../icons/check-mark.svg');
    }

    @include lg {
      font-size: 18px;

      &::before {
        top: 6px;
      }
    }
  }

  &__closest {
    display: block;
    margin-bottom: 6px;

    @include lg {
      display: inline;
      font-size: 18px;
      margin-right: 8px;
    }
  }

  &__time-badge {
    margin-right: 4px;
    margin-bottom: 6px;
  }
}
