.menu {
  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    color: #ffffff;

    &:hover {
      color: $blue;
    }

    &--active {
      cursor: default;
      color: $blue;

      &:hover {
        color: $blue;
      }
    }
  }
}
